.button {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	width: rem(207);
	height: rem(37);

	background-image: url("@img/other/btn-3.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	transition: all 0.3s ease 0s;

	&_1 {
		width: rem(261);
		height: rem(50);
		background-image: url("@img/other/btn-1.png");
		p {
			position: relative;
			top: -5px;
		}
	}
	&_2 {
		background-image: url("@img/other/btn-2.png");
	}

	&:active {
		transform: translateY(3px);
	}

	p {
		font-size: rem(20);
		line-height: 1.5;

		text-transform: uppercase;

		color: #eee8f2;
	}

	&._hold {
		opacity: 0.5;
		pointer-events: none;
	}
}
//========================================================================================================================================================
.preloader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	width: 100%;
	min-height: 100vh;

	overflow: hidden;

	background-image: linear-gradient(180deg, #4b31a7 0%, #090431 64.06%);

	transition: all 0.3s ease 0s;

	&__block-acces {
	}

	&__acces {
	}

	&__button-box {
		position: absolute;
		bottom: rem(100);
		left: 50%;
		transform: translateX(-50%);
		z-index: 5;
	}

	// .preloader__button

	&__button {
		position: relative;
		z-index: 3;

		width: rem(251);
		height: rem(45);
	}
	&._hide {
		top: -20%;
		opacity: 0;
		visibility: hidden;
	}
}
.acces-preloader {
	position: relative;
	z-index: 3;

	display: flex;
	flex-direction: column;
	max-height: 100vh;
	max-width: 100vw;
	padding-block: rem(60) rem(150);
	padding-inline: rem(25);

	overflow: auto;

	&._hide {
		display: none;
	}

	&__title {
		@include adaptiveValue("font-size", 32, 26, 500, 320, 1);
		line-height: math.div(49, 32);

		letter-spacing: 0.085em;
		text-transform: uppercase;
		text-align: center;

		color: #ffffff;
		padding-bottom: rem(40);
	}

	// .acces-preloader__text

	&__text {
		padding-bottom: rem(12);
	}

	&__link {
		color: #ebff00;
	}
}

.text-pre {
	font-size: rem(15);
	line-height: math.div(23, 15);
	text-align: center;
	letter-spacing: 0.085em;
	text-transform: capitalize;

	color: #ffffff;

	&__title {
		text-transform: uppercase;
	}
}

.score {
	&._no-money {
		animation: no-money 0.7s ease 2;
	}
	&._delete-money {
		animation: delete-money 0.7s ease;
	}
	&._anim-add-money {
		animation: add-money 0.5s ease 3;
	}
}

.icon-anim {
	img {
		&._anim-icon-jump {
			animation: jump_icon 5s ease;
		}
		&._anim-icon-scale {
			animation: scale_icon 0.5s ease 2;
		}
		&._anim-icon-rotate {
			animation: rotate_icon 1.5s ease-out 1;
		}
		&._anim-icon-rotate-2 {
			animation: rotate_icon-2 1.5s ease 1;
		}
	}
}

.btn-bg {
	position: relative;
	background-image: linear-gradient(180deg, #000853 0%, #000937 100%);
	box-shadow: inset 0px 4px 4px #1e1e1e;
	border-radius: 39.5px;
	&::before {
		content: "";
		position: absolute;
		top: -3px;
		left: -3px;
		right: -3px;
		bottom: -3px;
		background: linear-gradient(180deg, #000b72, #2e007a);
		border-radius: 39.5px;
		z-index: -1;
	}
}

.text-game {
	p {
		@include adaptiveValue("font-size", 20, 16, 800, 550, 1);
		line-height: math.div(24, 20);
		letter-spacing: 0.05em;

		background-image: linear-gradient(180deg, #ebff00 0%, #ffa800 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		filter: drop-shadow(0px 4px 10px rgba(250, 255, 0, 0.62));
	}
}

//========================================================================================================================================================
