//====================================================================================================
.main {
	// .main__body

	&__body {
		position: relative;
		z-index: 3;
		display: grid;
		grid-template-rows: 50px 1fr;
		row-gap: rem(30);

		min-height: 100vh;
		@include adaptiveValue("padding-top", 50, 20, 370, 320, 1);
		padding-inline: rem(10);
	}

	&__cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: rem(10);
		@media (min-width: em(700)) {
			position: relative;
			top: rem(-120);
			justify-content: center;
			row-gap: rem(20);
		}
	}

	&__card-box {
		width: rem(300);
	}

	&__card {
		position: relative;
		img {
			max-width: 100%;
		}
	}

	&__button {
		position: absolute;
		bottom: rem(10);
		left: 50%;
		transform: translateX(-50%);
		&_1 {
			bottom: 0;
		}
		&:active {
			transform: translateY(3px) translateX(-50%);
		}
	}

	&__background {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: rem(387);
		max-width: 100%;
		img {
			width: 100%;
		}
		@media (max-height: em(720)) {
			opacity: 0.4;
		}
	}

	// .main__header

	&__header {
	}
}

.header {
	// .header__body

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include adaptiveValue("column-gap", 20, 8, 370, 320, 1);
		@include adaptiveValue("padding-inline", 20, 10, 360, 320, 1);
		&_game {
			display: grid;
			justify-content: normal;
			grid-template-rows: 50px 1fr;
			@include adaptiveValue("row-gap", 25, 5, 360, 320, 1);
			@include adaptiveValue("padding-top", 40, 10, 360, 320, 1);
			@media (max-width: em(360)) or (max-height: em(700)) {
				row-gap: 5px;
				padding-top: 10px;
			}
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .header__privacy-box

	&__privacy-box {
	}

	// .header__privacy

	&__privacy {
		@include adaptiveValue("width", 150, 120, 360, 320, 1);
		@include adaptiveValue("height", 43, 38, 360, 320, 1);

		@include adaptiveValue("font-size", 15, 12, 360, 320, 1);
		line-height: 1.5;
		text-align: center;
		text-transform: uppercase;

		color: #eee8f2;

		white-space: nowrap;
		p {
			position: relative;
			z-index: 10;
		}
	}

	&__button-box {
	}

	&__btn-home {
		display: block;
		width: rem(43);
		height: rem(43);
		background-image: url("@img/icons/btn-home.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	// .header__score

	&__score {
	}

	&__icon {
		@include adaptiveValue("max-width", 300, 240, 360, 320, 1);
		margin-inline: auto;
		img {
			width: 100%;
		}
		@media (max-width: em(360)) or (max-height: em(700)) {
			max-width: 200px;
		}
	}
}

.title-game {
	font-weight: 900;
	font-size: rem(36);
	line-height: math.div(44, 36);
	text-align: center;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	span {
		&:first-child {
			background-image: linear-gradient(180deg, #3300ff 0%, #644dc2 100%);
		}
		&:last-child {
			background-image: linear-gradient(180deg, #0077ff 0%, #00c2ff 100%);
		}
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 1.2px #fff;
		filter: drop-shadow(-1px 4px 4px #953005);
	}
}

.score-box {
	// .score-box__body

	&__body {
		position: relative;
		display: grid;
		grid-template-columns: 35px 1fr;
		align-items: center;
		width: rem(179);
		height: rem(43);
		@include adaptiveValue("width", 208, 180, 360, 320, 1);
		@include adaptiveValue("height", 43, 38, 360, 320, 1);
		&_main {
			@include adaptiveValue("width", 156, 120, 360, 320, 1);
		}
	}

	// .score-box__icon

	&__icon {
		@include adaptiveValue("max-width", 35, 25, 370, 320, 1);
		img {
			width: 100%;
		}
	}

	// .score-box__score

	&__score-box {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__score {
		font-size: rem(20);
		line-height: 1.5;
		text-transform: uppercase;

		color: #eee8f2;
		&._txt-small {
			font-size: rem(10);
		}
		&._txt-middle {
			font-size: rem(16);
		}
	}
}

//========================================================================================================================================================
.drum {
	// .drum__body

	&__body {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;

		min-height: 100vh;

		padding-inline: rem(19);
	}

	// .drum__header

	&__header {
		margin-bottom: rem(30);
		@media (max-width: em(360)) or (max-width: em(700)) {
			margin-bottom: rem(10);
		}
		@media (min-height: em(900)) and (min-width: em(700)) {
			margin-bottom: rem(150);
		}
	}

	&__circle {
		margin-bottom: rem(15);
	}

	&__background {
		position: absolute;
		bottom: -20px;
		left: 50%;
		transform: translateX(-50%);
		width: rem(700);
		img {
			width: 100%;
		}
		@media (max-height: em(720)) {
			opacity: 0.4;
		}
	}

	&__button-box {
		position: relative;
		z-index: 10;
		display: flex;
		justify-content: center;
		margin-bottom: rem(10);
	}

	&__button {
		position: relative;
		@include adaptiveValue("width", 383, 300, 370, 320, 1);
		@include adaptiveValue("height", 120, 90, 370, 320, 1);
		@media (min-width: em(700)) {
			width: rem(450);
			height: rem(160);
		}
		p {
			position: relative;
			top: -6px;
			z-index: 3;
			font-size: rem(32);
			line-height: 1.5;
			text-transform: uppercase;

			color: #eee8f2;
		}

		.wrapper_drum & {
			background-image: url("@img/icons/btn-1.png");
			p {
				top: -6px;
			}
		}

		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		&:active {
			transform: scale(0.97);
		}
		&._hold {
			opacity: 0.7;
			pointer-events: none;
		}
	}
}

.circle {
	// .circle__body

	&__body {
		position: relative;
		display: flex;
		justify-content: center;
	}

	// .circle__arrow

	&__arrow {
		position: absolute;
		top: 0;
		right: -10px;
		z-index: 5;
		width: rem(93);
		height: rem(77);
		background-image: url("@img/icons/arrow-circle.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		transform: rotate(45deg);
	}

	&__dot {
		position: absolute;
		bottom: rem(-5);
		z-index: 5;
		left: 50%;
		transform: translateX(-50%);
		width: 5px;
		height: 5px;
	}

	// .circle__drum-box

	&__drum-box {
		position: relative;
		min-width: 310px;
		width: 310px;
		height: 310px;
	}

	// .circle__drum

	&__drum {
		position: relative;
		width: 100%;
		height: 100%;
		transition: transform 2s ease 0s;
		img {
			width: 100%;
		}
	}

	// .circle__values

	&__values {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	// .circle__value

	&__value {
		position: absolute;
		padding: 20px 20px 0 20px;

		user-select: none;

		font-size: rem(20);
		line-height: 1.5;

		color: #eee8f2;

		// .circle__value_1

		&_1 {
			transform: rotate(44deg);
			top: 41px;
			right: 30px;
		}

		// .circle__value_2

		&_2 {
			padding: 20px 26px 0 26px;
			transform: rotate(74deg);
			top: 99px;
			right: 1px;
		}

		// .circle__value_3

		&_3 {
			padding: 20px 15px 0 15px;
			transform: rotate(104deg);
			top: 166px;
			right: 0px;
		}

		// .circle__value_4

		&_4 {
			padding: 20px 15px 0 15px;
			transform: rotate(134deg);
			top: 221px;
			right: 34px;
		}

		// .circle__value_5

		&_5 {
			transform: rotate(164deg);
			top: 253px;
			right: 91px;
		}

		// .circle__value_6

		&_6 {
			padding: 20px 26px 0 26px;
			transform: rotate(194deg);
			top: 254px;
			right: 156px;
		}

		// .circle__value_7

		&_7 {
			padding: 20px 15px 0 15px;
			transform: rotate(224deg);
			top: 222px;
			right: 210px;
		}

		// .circle__value_8

		&_8 {
			padding: 20px 15px 0 15px;
			transform: rotate(254deg);
			top: 165px;
			right: 242px;
		}

		// .circle__value_9

		&_9 {
			padding: 20px 15px 0 15px;
			transform: rotate(284deg);
			top: 99px;
			right: 244px;
		}

		// .circle__value_10

		&_10 {
			transform: rotate(314deg);
			top: 43px;
			right: 213px;
		}

		// .circle__value_11

		&_11 {
			padding: 20px 15px 0 15px;
			transform: rotate(345deg);
			top: 9px;
			right: 155px;
		}

		// .circle__value_12

		&_12 {
			padding: 20px 25px 0 25px;
			transform: rotate(13deg);
			top: 9px;
			right: 91px;
		}
	}
}

//========================================================================================================================================================
.slot {
	// .slot__body

	&__body {
		min-height: 100vh;
		position: relative;
	}

	&__game {
		display: flex;
		align-items: center;
	}

	// .slot__box

	&__box {
		height: 100vh;
		width: 100vw;
		margin: 0 auto;
		position: relative;
		display: flex;
		flex-direction: column;
	}

	// .slot__cont

	&__cont {
		position: relative;
		flex: 1 1 auto;

		display: grid;
		grid-template-rows: rem(270) 1fr rem(250);
		row-gap: rem(20);
		z-index: 2;
		@media (max-width: em(370)) or (max-height: em(740)) {
			row-gap: rem(5);
		}
		@media (max-height: em(700)) {
			grid-template-rows: rem(250) 1fr rem(250);
		}
		@media (max-height: em(600)) {
			grid-template-rows: rem(200) 1fr rem(250);
		}
		&_1 {
			grid-template-rows: rem(270) 1fr 2fr;
			@media (min-width: em(700)) {
				grid-template-rows: rem(270) 1fr rem(250);
			}
		}
	}

	&__background {
		position: absolute;
		bottom: -20px;
		left: 50%;
		transform: translateX(-50%);
		width: rem(700);
		img {
			width: 100%;
		}
		@media (max-height: em(720)) {
			opacity: 0.4;
		}
	}
	&__frame {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 4;
		width: 100%;
		height: 100%;
		max-width: 100%;
		img {
			width: 100%;
		}
	}

	// .slot__controls

	&__controls {
	}

	&__cheeps-box {
	}

	&__cheeps {
		position: absolute;
		max-width: 100%;
		img {
			width: 100%;
		}
		&_1 {
			top: rem(-90);
			left: rem(-135);
			width: rem(230);
			transform: rotate(0deg);
			@media (min-width: em(700)) {
				top: rem(-115);
			}
		}
		&_2 {
			bottom: rem(-135);
			right: rem(-85);
			width: rem(170);
			transform: rotate(45deg);
			@media (min-width: em(700)) {
				bottom: rem(-220);
				right: rem(-100);
			}
		}
	}
}

.controls-slot {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	align-items: flex-end;

	// .controls-slot__body

	&__body {
		position: absolute;
		top: rem(50);
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: rem(20);
		width: 100%;

		padding-inline: rem(30);
		padding-bottom: rem(10);
		@media (min-width: em(700)) {
			top: 0;
		}
	}

	// .controls-slot__bet-box

	&__bet-box {
	}

	&__button-box {
		display: flex;
		justify-content: center;
	}

	// .controls-slot__button-spin

	&__button-spin {
		position: relative;
		@include adaptiveValue("width", 383, 300, 370, 320, 1);
		@include adaptiveValue("height", 120, 90, 370, 320, 1);
		@media (min-width: em(700)) {
			width: rem(450);
			height: rem(160);
		}
		p {
			position: relative;
			top: -6px;
			z-index: 3;
			font-size: rem(32);
			line-height: 1.5;
			text-transform: uppercase;

			color: #eee8f2;
		}

		.wrapper_game-1 & {
			background-image: url("@img/icons/btn-2.png");
			p {
				top: -12px;
			}
		}
		.wrapper_game-2 & {
			background-image: url("@img/icons/btn-1.png");
		}

		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		&:active {
			transform: scale(0.97);
		}
		&._hold {
			opacity: 0.7;
			pointer-events: none;
		}
	}
}

//========================================================================================================================================================
#slot2 {
	display: flex;
	justify-content: center;

	width: 100%;
}
#reels2 {
	position: relative;
	display: flex;
	justify-content: center;
	width: 95vw;
	height: calc((3 / 3) * 100vw);
	max-height: 100vw;
	max-width: calc(2.2 * (90vh - 50px));

	@media (max-height: em(740)) {
		width: 80vw;
		max-height: 77vw;
	}
	@media (min-width: em(700)) {
		width: 90vw;
		max-height: 90vw;
	}
}
.reels2 {
	&_2 {
		width: 93vw !important;
		background: #140b46;
		box-shadow: inset -1px 14px 24px 8px rgba(34, 21, 21, 0.76);
		border-radius: 20px;
		border: 3px solid #ffb31f;

		@media (max-height: em(740)) {
			width: 72vw !important;
			max-height: 77vw !important;
		}
		@media (min-width: em(700)) {
			width: 62vw !important;
			max-height: 67vw !important;
		}
	}
}

.reel2 {
	position: relative;
	overflow: hidden;
	width: 30%;
	height: 100%;

	&:not(:last-child) {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 4px;
			height: 100%;
			background-image: radial-gradient(91.39% 11843999.4% at 98.89% 0%, #422b9c 0%, #91600d 0.01%, #1e00f0 100%);
		}
	}
	&_2 {
		width: 33%;
	}

	.icons {
		text-align: center;
		padding-top: rem(5);
		img {
			width: calc(100% - 5px);
			margin: -3px 0 15px -3px;
			height: auto;

			transform: translate3d(0, 0, 0);
			@media (max-height: em(740)) {
				margin: -3px 0 5px -3px;
			}
		}
	}
}

#slot2.inverted .reel {
	transform: scaleY(-1);
}

#slot2.inverted .reel > .icons > img {
	transform: scaleY(-1);
}

//========================================================================================================================================================
#slot1 {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
}
#reels1 {
	position: relative;
	display: flex;
	justify-content: center;
	width: 85vw;
	height: calc((3 / 3) * 100vw);
	max-height: 34vw;
	max-width: calc(2.2 * (90vh - 50px));
}
.reels1 {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: -32px;
		left: -17px;
		width: 110%;
		height: 160%;
		z-index: 3;
		background-image: linear-gradient(180deg, #dc0c29 0%, #3b0107 70.58%);
		border: 4px solid rgb(255, 255, 174);
		border-radius: 20px;
		@media (min-width: em(700)) {
			top: -32px;
			left: -32px;
			height: 130%;
		}
	}
}

.reel1 {
	position: relative;
	overflow: hidden;
	z-index: 5;
	width: 30%;
	height: 100%;

	.icons {
		position: relative;
		top: -42px;
		text-align: center;
		padding-top: rem(5);
		@media (min-width: em(700)) {
			top: -100px;
		}
		img {
			width: calc(100% - 5px);
			margin: -3px 0 0px -3px;
			height: auto;

			transform: translate3d(0, 0, 0);
			@media (max-height: em(740)) {
				margin: -3px 0 5px -3px;
			}
		}
	}
}

#slot1.inverted .reel {
	transform: scaleY(-1);
}

#slot1.inverted .reel > .icons > img {
	transform: scaleY(-1);
}

//====================================================================================================
@keyframes no-money {
	100% {
		color: #ff5900;
		transform: scale(1.1);
	}
}
@keyframes delete-money {
	100% {
		color: #ff6f00;
		transform: translateY(3px);
	}
}
@keyframes add-money {
	100% {
		color: #ddf12a;
		transform: translateY(-3px);
	}
}

@keyframes jump_icon {
	0%,
	69% {
		transform: translate(0, 0);
	}
	77% {
		transform: translate(0, -10px);
	}
	80% {
		transform: translate(0px, 0px);
	}
	82% {
		transform: translate(0px, -6px);
	}
	85% {
		transform: translate(0px, 0px);
	}
	87% {
		transform: translate(0px, -2px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes scale_icon {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}
@keyframes rotate_icon {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@keyframes rotate_icon-2 {
	0% {
		transform: rotate(0deg);
		right: 0;
	}
	70% {
		transform: rotate(-360deg);
		right: 100px;
	}
	100% {
		transform: rotate(0deg);
		right: 0;
	}
}

@keyframes btn {
	0%,
	92%,
	100% {
		transform: translateZ(0);
		filter: drop-shadow(0 0 0 #002263);
	}
	96% {
		transform: translateZ(30px);
		filter: drop-shadow(0 0 10px #175cdd);
	}
}

@keyframes btn-anim-1 {
	0%,
	88%,
	100% {
		transform: rotateY(0);
	}
	94% {
		transform: rotateY(-180deg);
	}
}

@keyframes btn-anim-2 {
	0%,
	80%,
	100% {
		transform: rotate(0);
	}
	82% {
		transform: rotate(-90deg);
	}
	86% {
		transform: rotate(-180deg);
	}
	90% {
		transform: rotate(-270deg);
	}
	94% {
		transform: rotate(-360deg);
	}
}
